body {
    background-color: floralwhite;
}

.orange {
  color: orange;
}
.red {
  color: red;
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom:  0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
.colorgray {
  background-color: #777;
}

.buttonlLinks {
  position: absolute;
  top: 0;
  right: 0;
}
.margintop20px {
  margin-top: 20px;
}
.height25px {
  height: 25px;
  border-bottom: 1px solid black;
}

.pheader{
  color:white;
}
.tdname p {
  margin: 0;
  font-weight: 900;
  color: gray;
}

.tdname {
  color:gray;
}

.warning {
  color: #FFC906;
}

.buttonExit, .buttonMinimize {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
}

.buttonMinimize {
    right: 20px;
}

.maxwidth600px{
  max-width: 600px;
}

.maxwidth270px{
  max-width: 270px;
}